<div class="row">
  <div class="col-md-8 mx-auto">
    <h1 class="text-center my-5">Edit Event</h1>  
    <div class="border shadow p-5 rounded">
      <%= render 'shared/form' %>
    </div>
  </div>
</div>
